/* This should follow BEM principles 
a-blockName_elementName--modiferName
*/


/***********/


/* PRIMARY */


/***********/

.app-btn--primary {
    border-radius: 0px;
    border: 4px solid black;
    background-color: rgb(236, 255, 251);
}

.app-btn--primary:hover:enabled {
    /*placeholder so far*/
}

.app-bg--primary {
    background-color: rgb(59, 59, 253);
}

.app-container--primary {
    padding: 0.5%;
    /*border: 1px solid black;*/
}

.app-txt--primary {
    color: black;
    background-color: coral;
}

.app-formGroup--primary {
    /*placeholder so far*/
}

.app-formGroup--primary>label {
    /*placeholder so far*/
}

.app-formGroup--primary>input {
    /*placeholder so far*/
}

.app-formGroup--primary input.ng-invalid {
    border-color: red;
}

.app-formGroup--primary .app-input_errorText {
    color: red;
}

.app-formGroup--primary>button {
    /*placeholder so far*/
}


/* Container for the drop down menu*/

.app-div_dropDown--primary {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}


/* The actual drop down button*/

.app-dropBtn--primary {
    height: 100%;
    width: 100%;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.app-div_dropDown--primary:hover .app-dropBtn--primary {
    background-color: rgb(128, 128, 128);
    border-bottom-width: 0px;
}

.app-dropBtn_content--primary {
    border: 4px solid black;
    border-top-width: 0px;
    width: 100%;
    overflow: auto;
    display: none;
    position: absolute;
    z-index: 1;
}


/* Links inside the dropdown */

.app-dropBtn_content--primary a {
    background-color: rgb(236, 255, 251);
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.app-dropBtn_content--primary a:hover {
    text-decoration: none;
    color: inherit;
    background-color: rgb(128, 128, 128);
}


/* Show the dropdown menu on hover */

.app-div_dropDown--primary:hover .app-dropBtn_content--primary {
    display: block;
}


/*************/


/* Secondary */


/*************/

.app-btn--secondary {
    background-color: rgb(151, 151, 255);
}

.app-btn--secondary:hover:enabled {
    background-color: bisque;
}

.app-bg--secondary {
    padding: 0.5%;
    background-color: rgb(161, 219, 216);
}

.app-container--secondary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 5px;
}

.app-container--secondary .app-listItem {
    margin: 1px;
    border: 1px solid black;
    background-color: chartreuse;
}

.app-container--secondary .app-listItem:hover {
    background-color: red;
}

.app-container--secondary button {
    background-color: rgb(151, 151, 255);
}

.app-txt--secondary {
    color: black;
}

.app-formGroup--secondary {}

.app-formGroup--secondary label {}

.app-formGroup--secondary input {}

.app-formGroup--secondary input.ng-invalid {
    border-color: red;
}

.app-formGroup--secondary .app-input_errorText {
    color: red;
    justify-self: center;
    align-self: center;
}

.app-formGroup--secondary button {
    background-color: rgb(151, 151, 255);
}

.app-formGroup--secondary button:hover:enabled {
    background-color: green;
}


/* Container for the drop down menu*/

.app-div_dropDown--secondary {
    /*placeholder so far*/
}


/* The actual drop down button*/

.app-dropBtn--secondary {
    /*placeholder so far*/
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.app-div_dropDown--secondary:hover .app-dropBtn--secondary {
    /*placeholder so far*/
}

.app-dropBtn_content--secondary {
    /*placeholder so far*/
    background-color: inherit;
}


/* Links inside the dropdown */

.app-dropBtn_content--secondary a {
    /*placeholder so far*/
}


/* Change color of dropdown links on hover */

.app-dropBtn_content--secondary a:hover {
    /*placeholder so far*/
}


/* Show the dropdown menu on hover */

.app-div_dropDown--secondary:hover .app-dropBtn_content--secondary {
    /*placeholder so far*/
}


/************/


/* Tertiary */


/************/

.app-btn--tertiary {
    background-color: green;
}

.app-btn--tertiary:hover:enabled {
    /*placeholder so far*/
}

.app-bg--tertiary {
    background-color: rgb(168, 168, 168);
}

.app-container--tertiary {
    border: 1px solid purple;
}

.app-txt--tertiary {
    color: black;
    background-color: coral;
}

.app-sideDiv--left {
    min-width: 15%;
}

.app-sideDiv--right {
    min-width: 15%;
}

.app-formGroup--tertiary {
    /*placeholder so far*/
}

.app-formGroup--tertiary>label {
    /*placeholder so far*/
}

.app-formGroup--tertiary>input {
    /*placeholder so far*/
}

.app-formGroup--tertiary input.ng-invalid {
    border-color: red;
}

.app-formGroup--tertiary .app-input_errorText {
    color: red;
}

.app-formGroup--tertiary>button {
    /*placeholder so far*/
}


/* Container for the drop down menu*/

.app-div_dropDown--tertiary {
    /*placeholder so far*/
}


/* The actual drop down button*/

.app-dropBtn--tertiary {
    /*placeholder so far*/
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.app-div_dropDown--tertiary:hover .app-dropBtn--tertiary {
    /*placeholder so far*/
}

.app-dropBtn_content--tertiary {
    /*placeholder so far*/
}


/* Links inside the dropdown */

.app-dropBtn_content--tertiary a {
    /*placeholder so far*/
}


/* Change color of dropdown links on hover */

.app-dropBtn_content--tertiary a:hover {
    /*placeholder so far*/
}


/* Show the dropdown menu on hover */

.app-div_dropDown--tertiary:hover .app-dropBtn_content--tertiary {
    /*placeholder so far*/
}


/*********/


/* Other */


/*********/

.app-div--centeredRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.no-bullets {
    list-style: none;
}