
<div class=" d-flex flex-column h-100" >
  <div id="header">
    <h1 i18n="Site test|A tranalation test">Hello i18n!</h1>
    global header goes here
    <h1 i18n="Site test|secondary text stuff">once again hello!</h1>
    <h1 i18n="Interisting stuff|third text stuff">lol again hello!</h1>
  </div>
  <div id="content" class="flex-grow-1" style="overflow: auto">
    <router-outlet></router-outlet>   
  </div>
  <div id="footer">
    <button class="btn btn--primary">delete later</button>
    global footer goes here
  </div>
</div>