<div class="container-fluid row m-0 p-0 h-100">
    <div class="d-flex flex-grow flex-column  w-100">

        <div class="d-flex flex-grow-1 flex-row justify-content-center align-items-center w-100 app-bg--tertiary ">
            <div class="d-none d-sm-block app-sideDiv--left">

            </div>

            <div class="flex-grow-1 app-bg--secondary app-container--secondary h-75">

                <ng-content></ng-content>

            </div>

            <div class="d-none d-sm-block app-sideDiv--right">

            </div>
        </div>

        <app-contact-bar></app-contact-bar>
    </div>

</div>