<div>
    <form [formGroup]="createTeamForm" (ngSubmit)="submit()">
        <app-create-team-form-teamname formControlName="teamNameControl"></app-create-team-form-teamname>
        <div class="app-div--centeredRow">
            <button class="btn" (click)="submit()" type="button" [disabled]="createTeamForm.invalid || makingHttpCall">
                <span *ngIf='makingHttpCall' class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span>
                Sign Up
            </button>
        </div>
    </form>
</div>