<div [formGroup]="form">
    <label for="teamName" i18n="Input label | Label for the team input"> Enter Team Name</label>
    <br>
    <input formControlName="teamName" id="teamName" type="text" class="form-control" placeholder="Test" i18n-placeholder="Team name placeholder | Placeholder fot the team name input">
    <div *ngIf="teamName.valid">
        <small style="visibility: hidden;">
            reserved
        </small>
    </div>
    <div *ngIf="teamName.invalid">
        <div *ngIf="teamName.errors.required">
            <small class="app-input_errorText">
                Team name is required.
            </small>
        </div>


    </div>
</div>