<div class="container-fluid row m-0 p-0 h-100">
    <div class="d-flex flex-grow flex-column w-100">

        <div class="d-flex flex-grow-1 flex-row w-100 app-bg--tertiary ">
            <div class="d-none d-sm-block app-sideDiv--left">

            </div>

            <div class="flex-grow-1 app-bg--secondary app-container--secondary">

                <h1 class="text-center app-txt--secondary" i18n="Title | Title for the page">Create new Team</h1>

                <form [formGroup]="createTeamForm" (ngSubmit)="submit()" class="form-group app-formGroup--secondary">
                    <app-create-team-form formControlName="teamName"></app-create-team-form>
                    <button class="btn app-btn--secondary">Sign Up</button>
                </form>
                <p>
                    Form is {{createTeamForm.valid ? 'Valid' : 'Invalid'}}
                </p>

                <pre>
                  {{createTeamForm.value | json}}
                  </pre>


            </div>

            <div class="d-none d-sm-block app-sideDiv--right">

            </div>
        </div>

        <app-contact-bar></app-contact-bar>
    </div>

</div>