<app-standard-content-container>
    <h1 class="text-center app-txt--secondary" i18n="Title | Title for the page">Create new Team</h1>

    <p>
        Here you can create a new team. After creation you will be the administrator of that team. Note that the name must be unique and can note be changed on a later date.
    </p>

    <form [formGroup]="createTeamForm" (ngSubmit)="submit()" class="form-group app-formGroup--secondary">
        <app-create-team-form formControlName="teamName"></app-create-team-form>
        <div class="app-div--centeredRow">
            <button class="btn app-btn--secondary" [disabled]="createTeamForm.invalid">Sign Up</button>
        </div>

    </form>

</app-standard-content-container>