<div [formGroup]="form">
    <label for="password" i18n="Input label | Label for the team input">Password</label>
    <br>
    <input formControlName="password" id="password" type="password" class="form-control" placeholder="Password" autocomplete="off">
    <input formControlName="repeat" id="repeat" type="password" class="form-control" placeholder="Repeat" autocomplete="off">
    <div *ngIf="!password.invalid">
        <small style="visibility: hidden;">
            reserved
        </small>
    </div>
    <div *ngIf="password.invalid">
        <div *ngIf="password.errors.required">
            <small class="app-input_errorText">
                Password is required.
            </small>
        </div>
        <div *ngIf="password.errors.missmatch">
            <small class="app-input_errorText">
                Inputs missmatch
            </small>
        </div>
    </div>
</div>