<div class="container-fluid  app-bg--primary app-container--primary loc-topContainer">
    <div class="row mx-0">
        <div class="col-3 ml-auto ">
            <div class="loc-div_dropDown">
                <button class="btn app-btn--primary loc-dropBtn">Races</button>
                <div class="loc-dropBtn_content">
                    <a class="app-txt--secondary" href="races/create">Create new race</a>
                    <a class="app-txt--secondary" href="races/manage">Manage your races</a>
                    <a class="app-txt--secondary" href="races/search">Find races</a>
                </div>
            </div>
        </div>

        <div class="col-3 mr-auto">
            <div class="loc-div_dropDown">
                <button class="btn app-btn--primary loc-dropBtn">Teams</button>
                <div class="loc-dropBtn_content">
                    <a class="app-txt--secondary" href="teams/create">Create new team</a>
                    <a class="app-txt--secondary" href="teams/manage">Manage your teams </a>
                    <a class="app-txt--secondary" href="teams/search">Find team</a>
                </div>
            </div>
        </div>
    </div>
</div>