<div class="container-fluid  app-bg--primary app-container--primary">
    <div class="row mx-0">
        <div class="col-3 ml-auto ">
            <div class="app-div_dropDown--primary">
                <button class="btn app-btn--primary app-dropBtn--primary" i18n="Menu header | Menu headder that expands on hover shoving at the top of the app">Races</button>
                <div class="app-dropBtn_content--primary">
                    <a class="app-txt--primary" href="races/create" i18n="Menu item | Menu item link that leads to another page">Create new race</a>
                    <a class="app-txt--primary" href="races/manage" i18n="Menu item | Menu item link that leads to another page">Manage your races</a>
                    <a class="app-txt--primary" href="races/search" i18n="Menu item | Menu item link that leads to another page">Find races</a>
                </div>
            </div>
        </div>

        <div class="col-3 mr-auto">
            <div class="app-div_dropDown--primary">
                <button class="btn app-btn--primary app-dropBtn--primary" i18n="Menu header | Menu headder that expands on hover shoving at the top of the app">Teams</button>
                <div class="app-dropBtn_content--primary">
                    <a class="app-txt--primary" href="teams/create" i18n="Menu item | Menu item link that leads to another page">Create new team</a>
                    <a class="app-txt--primary" href="teams/manage" i18n="Menu item | Menu item link that leads to another page">Manage your teams </a>
                    <a class="app-txt--primary" href="teams/search" i18n="Menu item | Menu item link that leads to another page">Find team</a>
                </div>
            </div>
        </div>

        <div class="col-1">

            <div *ngIf="isLoggedIn">
                {{ loggedInUsername }}
                <button class="btn app-btn--secondary" (click)="onLogOut()">
                    LogOut
                </button>
            </div>
            <div *ngIf="!isLoggedIn">
                <button class="btn app-btn--secondary" routerLink="/auth/login">
                    Login
                </button>
            </div>
        </div>
    </div>
</div>